<div class="container" >

	<div ng-controller="ViewAlteraCartaoCtrl">
		<center><h1>Alteração dos dados do cartão com ID </h1></center>
		<center><p>Substitua as informações que deseja alterar</p></center>
		<!--<div ng-include="'errors/errorsTemplate.html'"></div>-->
		<my-error my-errors="errors"></my-error>
		<div class="form-group">
			<label> Número do Cartão </label>
			<input type="text" class="form-control" ng-model="infoCartao.number" ui-mask="9999 9999 9999 9999" ui-options="{clearOnBlur: false}"  	 ui-mask-placeholder="" ui-mask-placeholder-char="space"  />
		</div>
		<div class="form-group">
			<form>
			<label> Bandeira do cartão </label>
		  	<div class="radio">
		      	<label><input type="radio" ng-model="infoCartao.brand" name="optradio" value="mastercard">mastercard</label>
		    </div>
		    <div class="radio">
		    	<label><input type="radio" ng-model="infoCartao.brand" name="optradio" value="visa">visa</label>
		    </div>
  			</form>
		</div>
		<div class="form-group">
			<form class="form-inline">
			    <div class="form-group">
					<label for="sel1">Mês expiração:</label>
					<select class="form-control" ng-model="infoCartao.exp_month">
						<option ng-repeat="month in months" value ="{{month}}">{{month}}</option>
					</select>					
			    </div>
			    <div class="form-group">
					<label for="sel2">Ano expiração:</label>
					<select class="form-control" ng-model="infoCartao.exp_year">
						<option ng-repeat="year in years" value ="{{year}}">{{year}}</option>
					</select>			    	
			      	
			    </div>
			</form>
		</div>	
		<div class="form-group">
			<label> Nome do Portador </label>
			<input type="text" class="form-control" ng-model="infoCartao.name" placeholder="Nome do Portador"/>
		</div>
		<div class="form-group">
			<label> Limite total do cartão </label>
			<input type="text" class="form-control" ng-model="infoCartao.limit" ui-money-mask="2"/>
		</div>
		<a class="btn btn-success" ng-click="updateCard(infoCartao)" ng-disabled="infoCartao.disable">Alterar Dados</a>
    </div>
</div>