<div class="container" >

	<div ng-controller="ViewAlteraCartaoCtrl">
		<center><h1>Alteração dos dados do cartão com ID </h1></center>
		<center><p>Substitua as informações que deseja alterar</p></center>
		<div class="form-group">
			<label> Número do Cartão </label>
			<input type="text" class="form-control" ng-model="numeroCartao" data-toogle="tooltip" title="Deve ter 16 números" placeholder="Número do Cartão"/>
		</div>
		<div class="form-group">
			<form class="form-inline">
			    <div class="form-group">
			    	<label> Mês Expiração  </label>
			      	<input type="text" class="form-control" ng-model="mesExp" placeholder="Mês Expiração" >
			    </div>
			    <div class="form-group">
			    	<label> Ano Expiração  </label>
			      	<input type="text" class="form-control" ng-model="anoExp" placeholder="Ano Expiração" >
			    </div>
			</form>
		</div>
		<form>
			<label> Bandeira do cartão </label>
		  	<div class="radio">
		      	<label><input type="radio" ng-model="bandeiraCartao" name="optradio" value="mastercard">mastercard</label>
		    </div>
		    <div class="radio">
		    	<label><input type="radio" ng-model="bandeiraCartao" name="optradio" value="visa">visa</label>
		    </div>
  		</form>
		<div class="form-group">
			<label> Nome do Portador </label>
			<input type="text" class="form-control" ng-model="nomePortador" placeholder="Nome do Portador"/>
		</div>
		<div class="form-group">
			<label> Limite total do cartão em centavos </label>
			<input type="text" class="form-control" ng-model="limiteTotal" placeholder="Limite total do cartão em centavos"/>
		</div>
		<div class="form-group">
			<label> Limite disponível do cartão em centavos </label>
			<input type="text" class="form-control" ng-model="limiteDisponivel" placeholder="Limite disponível do cartão em centavos"/>
		</div>
		<a href="#!/VisualizarCartoes" class="btn btn-success" ng-click="sendPatch()">Alterar Dados</a>
    </div>

</div>