<div class="container" >

	<div ng-controller="ViewCriaPagamentoCtrl">

		<div ng-include="'errors/errorsTemplate.html'"></div>
		
		<center><h1>Cadastro de Novo Pagamento</h1></center>
		<center><p>Preencha as informações corretamente</p></center>
		<div class="form-group">
			<label> Valor do Pagamento em Centavos </label>
			<input type="text" class="form-control" ng-model="newPayment.amount" ui-money-mask="2"/>
		</div>
		<hr>
		<h4> Obs. O pagamento será cadastrado com o status "Pending"</h4>
		<h5>{{newPayment.errors}}</h5>
    	<a  class="btn btn-success" ng-click="createPayment(newPayment)">Enviar Pagamento</a>
    </div>
</div>